# Development profile
spring:
  config:
    import: env.dev.properties
  devtools:
    restart:
      enabled: true
    livereload:
      enabled: true

server:
  port: ${PORT:8080}

cors:
  allowed-origins: "*"
  allowed-methods: "GET,POST,PUT,DELETE,PATCH,OPTIONS"
  allowed-headers: "*"
  allow-credentials: false

logging:
  level:
    root: INFO
    com.shopifake.microservice: DEBUG