# Development profile
spring:
  config:
    import: env.dev.properties
  devtools:
    restart:
      enabled: true
    livereload:
      enabled: true

server:
  port: ${PORT:8080}

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus,gateway
  endpoint:
    health:
      show-details: always
      probes:
        enabled: true
  otlp:
    metrics:
      export:
          url: http://otel-collector:4318/v1/metrics
          enabled: true

cors:
  allowed-origins: "*"
  allowed-methods: "GET,POST,PUT,DELETE,PATCH,OPTIONS"
  allowed-headers: "*"
  allow-credentials: false

logging:
  level:
    root: INFO
    com.shopifake.microservice: DEBUG
    io.micrometer: DEBUG
    org.springframework.boot.actuate: DEBUG